<form class="ui stacked segment form" action="/dashboard/addassessment" method="POST">
  
  
  <div class="field">
    <label>Weight</label>
    <input placeholder="Title" type="text" name="weight">
  </div>
  
  <div class="field">
    <label>Chest</label>
    <input placeholder="Title" type="text" name="chest">
  </div>
  <button class="ui blue submit button">Add Assessment</button>
</form>
