<form class="ui stacked segment form" action="/dashboard/addgoal" method="POST">
  
  <div class="two fields">
 
      
    <div class="field">
      <label>Desired BMI</label>
      <input placeholder="Desired" type="number" name="desired">
    </div>
    <div class="field">
      <label>Target Date</label>
      <input placeholder="dd/mm/yy" type="date" name="targetdate">
    </div>
  </div>
  <button class="ui blue submit button">Add Goal</button>
</form>