

<section class="ui center aligned middle aligned segment"  style="background-color: dimgray;">
  <h2 class="ui header"><i class="tasks icon"></i>Assessments

  </h2>
  {{> listassessments}}
  {{> addassessment}} 
    </section>