<section class="ui center aligned middle aligned segment"  style="background-color: dimgray;">
  <h2 class="ui header"><i class="flag checkered icon"></i>Goals
    
  </h2>
  {{> listgoals}}
  {{> addgoal}} 
    </section>