 
<section class="ui raised segment">
  
<table class="ui table">
  <thead>
    <tr>
      <th>Target BMI</th>
      <th>Achievable Date</th>
      <th>Goal Status</th>
      
    </tr>
  </thead>
  <tbody>
   {{#each goals}}
      <tr>
        <td>
          {{desired}}
        </td>
        <td>
          {{targetdate}}
        </td>
      
        <!--<td>
          <a href="/dashboard/deleteassessment/{{id}}" class="ui icon button">
          <i class="icon trash"></i>
          </a>
        </td>
-->
      </tr>
    {{/each}}
  </tbody>
</table>
  
</section>





