
<section class="ui raised segment">
<table class="ui table">
  <thead>
    <tr>
      <th>{{firstname}}</th>
      <th><i class="male icon"></i></th>
      <th><i class="heartbeat icon"></i>BMI</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each assessments}}
      <tr>
        <td>
          
        </td>
        <td>
          {{bmi}}
        </td>
        <td>
         
        </td>
        <td>
          
        </td>
        <td>

        </td>
        <td>
        
        </td>
        <td>
          <a href="/dashboard/deleteassessment/{{id}}" class="ui icon button">
          <i class="icon trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</section>