
<section class="ui raised segment">
<table class="ui table">
  <thead>
    <tr>
      <th>Name</th>
      <th><i class="male icon"></i></th>
      <th><i class="heartbeat icon"></i>BMI</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each members}}
      <tr>
        <td>
          {{ firstName}}
        </td>
        <td>
          {{assessment.calculateBmi}}
        </td>
        <td>
         
        </td>
        <td>
          {{finalBmi}}
        </td>
        <td>

        </td>
        <td>
        
        </td>
        <td>
          
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</section>