
<section class="ui raised segment">
<table class="ui table">
  <thead>
    <tr>
      <th>Name</th>
      <th><i class="male icon"></i></th>
      <th><i class="heartbeat icon"></i>BMI Category</th>
      <th>BMI</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    
      <tr>
        <td>
          {{firstName}}
        </td>
        <td>
          
        </td>
        <td>
          {{bmiCategory}}
        </td>
          <td>
          {{bmiCalc}}
        </td>
        <td>
         
        </td>
        <td>
        
        </td>
       
      </tr>
   
  </tbody>
</table>
</section>