{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
    <div class="ui grid">
     <div class ="ui fluid image">
    <img src="https://cdn.glitch.com/787341e1-f3fe-4a07-9b6e-2d58c48f0135%2Fdumbells.jpg"></div>
         <div class="eight wide column"></div>
         <div class="eight wide column"><h2>This Must be the Gym</h2></div>

     </div>

</section>