{{> welcomemenu }}

<section class="ui center aligned middle aligned segment" style="background-image:url(https://cdn.glitch.com/787341e1-f3fe-4a07-9b6e-2d58c48f0135%2Fdumbells.jpg)";>
    <div class="ui grid">

         <div class="eight wide column"></div>
         <div class="eight wide column">
             <h1 style="color:white; font-size:8em; float:right;">THIS</h1>
             <h1 style="color:white; font-size:8em; float:right;">MUST </h1>
             <h1 style="color:white; font-size:8em; float:right;">BE THE</h1>
             <h1 style="color:white; font-size:8em; float:right;">GYM</h1>
         </div>
     </div>

</section>